@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p style="float: left;"><img src="@Url.Content("~/images/TeamSpeak_Logo.jpg")" alt="TeamSpeak_Logo"/></p>
    <h1>TeamSpeak Home Page</h1>
    <p style="text-indent: 5em;">
        This page is intended to be a user guide on how to utilize the various functionalities of this web application. 
        You will notice that there is black bar at the top of this page with three white words. Each of these words is a button
        which will take you to a different page.
    </p>
    <hr>
    <p style="text-indent: 5em;">
        The 'Voice' tab is the main page used to control the toy. It has two buttons, 'Begin Listening' and 'End Listening.'
        Pressing 'Begin Listening' will begin the toy's speech recognition and it will start listening for known commands. Once 
        a command is spoken and recognized (indicated by a light) press the 'End Listening' button. The toy will respond with a movement
    </p>
</div>
