@{
    ViewData["Title"] = "Speaker";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Click a button to output that phrase to the speaker</p>
<button>"Good Job"</button>
<button>"Try again"</button>
<button>"You're doing great"</button>
<button>"Almost got it"</button>
