@{
    ViewData["Title"] = "Speaker";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Click a button below to output that phrase to the speaker</p>

@using (Html.BeginForm("Submit", "TTS", new { id = 1 }, FormMethod.Get))
{
    <input type="submit" value="Good Job">
}

@using (Html.BeginForm("Submit", "TTS", new { id = 2 }, FormMethod.Get))
{
    <input type="submit" value="Nice Work">
}

@using (Html.BeginForm("Submit", "TTS", new { id = 3 }, FormMethod.Get))
{
    <input type="submit" value="Try Again">
}

@using (Html.BeginForm("Submit", "TTS", new { id = 4 }, FormMethod.Get))
{
    <input type="submit" value="Don't be shy">
}


