@{
    ViewData["Title"] = "Speaker";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Click a button below to output that phrase to the speaker</p>

@using (Html.BeginForm("Submit", "TTS", new { id = 1 }, FormMethod.Get))
{
    <input type="submit" value="Phrase 1">
}

@using (Html.BeginForm("Submit", "TTS", new { id = 2 }, FormMethod.Get))
{
    <input type="submit" value="Phrase 2">
}

@using (Html.BeginForm("Submit", "TTS", new { id = 3 }, FormMethod.Get))
{
    <input type="submit" value="Phrase 3">
}

@using (Html.BeginForm("Submit", "TTS", new { id = 4 }, FormMethod.Get))
{
    <input type="submit" value="Phrase 4">
}


