@{
    ViewData["Title"] = "Voice";
}


<h3><b>Test</b></h3>
@using (Html.BeginForm("Submit", "Voice", FormMethod.Get))
{
    <table>
        <tr>
            <td>Enter ID: </td>
            <td>@Html.TextBox("Id")</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit"></td>
        </tr>
    </table>
}
<h4 style="color:purple">
    ID: @ViewBag.Id<br />
</h4>