@{
    ViewData["Title"] = "Voice";
}

<h3><b>Press 'Microphone' to command the toy through voice inputs</b></h3>
@using (Html.BeginForm("Submit", "Voice", new { id = 1 }, FormMethod.Get))
{
    <input type="submit" value="Microphone">
}

<h3><b>Press 'Pressure Sensor' to command the toy with pressure sensor inputs</b></h3>
@using (Html.BeginForm("Submit", "Voice", new { id = 2 }, FormMethod.Get))
{
    <input type="submit" value="Pressure Sensor">
}
